

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{

    width: 900px;
    height: 900px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-content: space-between;*/
    align-items: center;

    flex-wrap: wrap;
}


#container .items{
    /*flex-basis:0;*/
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    flex: 1;
    height: 200px;
    background: dodgerblue;
}


#container .items:nth-child(3){
    order:1;
}